.pagination {
  list-style-type: none;
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0 3rem;

  &__item {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    background-color: $background-color;
    border: 1px solid $input-color-light;
    color: $text-color;

    &--active {
      background-color: $text-color;
      border: 1px solid $text-color;
      color: $background-color;
    }
  }
}
